$taille_carre:90px;

nav{
	margin-top:2%;
	margin-left:5%;
}

#nav li{                                             /*Carrés*/
	display: inline-flex;
	justify-content:center;
	list-style: none;
	background-color:#4f5b93;
	margin:0 0.5% 1% 0.5%;
	width: $taille_carre;
	height:$taille_carre;
}

@mixin icone($margin-left,$margin-bottom,$taille){  /*Taille des icones*/
	margin-left:$margin-left;
	margin-bottom:$margin-bottom;
	width:$taille;
}

#nav #img1{
	@include icone(35%,0%,30%);
}

#nav #img2{
	@include icone(35%,10%,30%);
}

#nav #img3{
	@include icone(30%,-8%,40%);
}

#nav #img4{
	@include icone(30%,-10%,30%);
}

#nav #img5{
	@include icone(30%,-8%,40%);
}

#nav #img6{
	@include icone(25%,-16%,50%);
}

#nav #img7{
	@include icone(25%,14%,50%);
	padding-top:5%;
}

#nav #img8{
	@include icone(25%,-11%,50%);
}

#nav #img9{
	@include icone(30%,-18%,40%);
}

#nav #img10{
	@include icone(23%,8%,50%);
}

#nav p {
	text-align:center;
	font-size:0.8em;
}

#nav a {
	margin-top:20%;
	text-decoration: none;
	color:white;
}