$color_font:#444A48;

body{
	background-color: #E3F7F0;
	color:#474545;
}

h1{
	color:$color_font;
}

a{
	color:$color_font;
	margin-left: 5%;
}

article{
	background-color:#C6C8C8;
	margin:0 auto 2% auto;
	padding: 1%;
	width:60%;
}