$color_font:#333333;
$taille: 50px;

body{
	background-color: #8892bf;
	color:$color_font;
	font-family: 'Open Sans', sans-serif;
}

h1{
	margin-top:3%;
	text-align:center;
	color:$color_font;
	font-size:3em;
}

nav{
	margin-top:5%;
	margin-left:2%;

}

#nav li{
	display: inline-flex;
	justify-content:center;
	list-style: none;
	background-color:#4f5b93;
	margin:0 0.5% 1% 0.5%;
	width: 17%;
	height:200px;
}

@mixin icone($margin-left,$margin-bottom,$taille){  /*Taille des icones*/
	margin-left:$margin-left;
	margin-bottom:$margin-bottom;
	width:$taille;
}

#nav #img1{
	@include icone(18%,0%,66%);
}

#nav #img2{
	@include icone(20%,17%,66%);
}

#nav #img3{
	@include icone(30%,-2%,40%);
}

#nav #img4{
	@include icone(30%,20%,45.5%);
}

#nav #img5{
	@include icone(30%,-2.5%,40%);
}

#nav #img6{
	@include icone(30%,0%,40%);
}

#nav #img7{
	@include icone(25%,18%,50%);
	padding-top:5%;
}

#nav #img8{
	@include icone(13%,6%,80%);
}

#nav #img9{
	@include icone(30%,-2%,40%);
}

#nav #img10{
	@include icone(7%,24%,80%);
}

#nav p {
	text-align:center;
}

#nav a {
	margin-top:20%;
	text-decoration: none;
	color:white;
}


