body {
  background-color: #8892bf;
  color: #333333;
  font-family: 'Open Sans', sans-serif; }

h1 {
  margin-top: 3%;
  text-align: center;
  color: #333333;
  font-size: 3em; }

nav {
  margin-top: 2%;
  margin-left: 5%; }

#nav li {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  background-color: #4f5b93;
  margin: 0 0.5% 1% 0.5%;
  width: 90px;
  height: 90px; }

#nav #img1 {
  margin-left: 35%;
  width: 30%; }

#nav #img2 {
  margin-left: 35%;
  margin-bottom: 10%;
  width: 30%; }

#nav #img3 {
  margin-left: 30%;
  margin-bottom: -8%;
  width: 40%; }

#nav #img4 {
  margin-left: 30%;
  margin-bottom: -10%;
  width: 30%; }

#nav #img5 {
  margin-left: 30%;
  margin-bottom: -8%;
  width: 40%; }

#nav #img6 {
  margin-left: 25%;
  margin-bottom: 10%;
  width: 50%; }

#nav #img7 {
  padding-top: 5%;
  margin-left: 25%;
  margin-bottom: 14%;
  width: 50%; }

#nav #img8 {
  margin-left: 25%;
  margin-bottom: -11%;
  width: 50%; }

#nav #img9 {
  margin-left: 30%;
  margin-bottom: -18%;
  width: 40%; }

#nav #img10 {
  margin-left: 23%;
  margin-bottom: 8%;
  width: 50%; }

#nav p {
  text-align: center;
  font-size: 0.8em; }

#nav a {
  margin-top: 20%;
  text-decoration: none;
  color: white; }

article {
  background-color: #F2F2F2;
  margin: 4% auto 2% auto;
  padding: 1%;
  width: 50%; }

table {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto; }
  table td {
    background-color: white;
    border: solid 1px #C6C8C8;
    text-align: center;
    height: 50px;
    width: 50px; }
