body {
  background-color: #8892bf;
  color: #333333;
  font-family: 'Open Sans', sans-serif; }

h1 {
  margin-top: 3%;
  text-align: center;
  color: #333333;
  font-size: 3em; }

nav {
  margin-top: 5%;
  margin-left: 2%; }

#nav li {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  background-color: #4f5b93;
  margin: 0 0.5% 1% 0.5%;
  width: 17%;
  height: 200px; }

#nav #img1 {
  /*Taille des icones*/
  margin-left: 18%;
  margin-bottom: 0%;
  width: 66%; }

#nav #img2 {
  /*Taille des icones*/
  margin-left: 20%;
  margin-bottom: 17%;
  width: 66%; }

#nav #img3 {
  /*Taille des icones*/
  margin-left: 30%;
  margin-bottom: -2%;
  width: 40%; }

#nav #img4 {
  /*Taille des icones*/
  margin-left: 30%;
  margin-bottom: 20%;
  width: 45.5%; }

#nav #img5 {
  /*Taille des icones*/
  margin-left: 30%;
  margin-bottom: -2.5%;
  width: 40%; }

#nav #img6 {
  /*Taille des icones*/
  margin-left: 30%;
  margin-bottom: 0%;
  width: 40%; }

#nav #img7 {
  /*Taille des icones*/
  margin-left: 25%;
  margin-bottom: 18%;
  width: 50%;
  padding-top: 5%; }

#nav #img8 {
  /*Taille des icones*/
  margin-left: 13%;
  margin-bottom: 6%;
  width: 80%; }

#nav #img9 {
  /*Taille des icones*/
  margin-left: 30%;
  margin-bottom: -2%;
  width: 40%; }

#nav #img10 {
  /*Taille des icones*/
  margin-left: 7%;
  margin-bottom: 24%;
  width: 80%; }

#nav p {
  text-align: center; }

#nav a {
  margin-top: 20%;
  text-decoration: none;
  color: white; }
