body {
  background-color: #E3F7F0;
  color: #889490; }

h1 {
  color: #444A48; }

a {
  color: #444A48;
  margin-left: 5%; }

article {
  background-color: #C6C8C8;
  margin: 0 auto 2% auto;
  padding: 1%;
  width: 60%; }
